In [45]:
import pandas as pd
import numpy as np
import statistics
import matplotlib.pyplot as plt
%matplotlib inline

# Make a blank data frame.
df = pd.DataFrame()

In [2]:
df

Empty DataFrame
Columns: []
Index: []

In [3]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df['gender'] = ['male'] * 100 + ['female'] * 100
df['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
df['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [17]:
df['height'].mean()
df.height.std()

6.9464557902889004

In [20]:
df.describe()

           height      weight
count  200.000000  200.000000
mean    66.694275  177.083467
std      6.946456   27.424812
min     49.404525  128.337599
25%     61.651269  157.033358
50%     66.029354  173.370286
75%     70.293504  194.957234
max     92.656939  271.714511

In [33]:
# df.describe.groupby('gender')
df.groupby('gender').describe()
# How to get this output vertical? Tried .melt() and .pivot()

       height                                                        \
        count       mean       std        min        25%        50%
gender
female  100.0  64.156496  4.713900  50.648141  60.850221  64.206583
male    100.0  69.232054  7.858899  49.404525  63.973414  69.430513

                             weight                                     \
              75%        max  count        mean        std         min
gender
female  68.366624  74.774330  100.0  163.120232  16.046691  128.337599
male    74.114977  92.656939  100.0  191.046703  29.333579  130.125824


               25%         50%         75%         max
gender
female  150.679603  163.123634  173.547498  202.670679
male    172.782968  193.044669  209.565513  271.714511

In [34]:
df.gender.value_counts()

female    100
male      100
Name: gender, dtype: int64

In [35]:
type(df.gender)

pandas.core.series.Series

In [57]:
brady = pd.DataFrame()
brady['age'] = [14, 12, 11, 10, 8, 6, 8]
brady.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [59]:
brady.age.var()

7.4761904761904754

In [47]:
np.median(brady.age)

10.0

In [58]:
statistics.mode(brady.age)

8

In [49]:
values, counts = np.unique(brady.age, return_counts=True)

In [50]:
most = np.argmax(counts)

In [52]:
values[most]

8